### Pandas 이해 : 행정구역 정보(CSV) 읽고, 분석하기
1. read_csv() 함수로 csv file read
2. 특정열과 특정행을 선택 - loc[], iloc[] 사용

In [1]:
import pandas as pd

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
(229, 8)

In [2]:
data.head(3)

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시

In [3]:
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [4]:
print(f'컬럼명 {data.columns}')
print(f'인덱스 {data.index}')
print(type(data.values))
print(f'값 {data.values}')

컬럼명 Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
인덱스 RangeIndex(start=0, stop=229, step=1)
<class 'numpy.ndarray'>
값 [[0 202520 '강릉' ... 1040.07 '강원도' '강릉시']
 [1 25589 '고성(강원)' ... 664.19 '강원도' '고성군']
 [2 86747 '동해' ... 180.01 '강원도' '동해시']
 ...
 [226 62809 '진천' ... 406.08 '충청북도' '진천군']
 [227 790216 '청주' ... 932.51 '충청북도' '청주시']
 [228 198077 '충주' ... 983.7 '충청북도' '충주시']]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [7]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [17]:
# 인구수 컬럼 선택
print(f"Max : {data['인구수'].max()}")
print(f"Min : {data['인구수'].min()}")
print(f"평균 : {data['인구수'].mean()}")
print(f"표준편차 : {data['인구수'].std()}")
print(f"중간값 : {data['인구수'].median()}")
print(f"합계 : {data['인구수'].sum()}")

Max : 1125461
Min : 8392
평균 : 211089.77729257641
표준편차 : 207437.8370475227
중간값 : 140159.0
합계 : 48339559

In [19]:
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [21]:
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [23]:
# 경기도 인구수의 평균과 표준편차
data['광역시도'] == '경기도'

0      False
1      False
2      False
3      False
4      False
       ...
224    False
225    False
226    False
227    False
228    False
Name: 광역시도, Length: 229, dtype: bool

In [34]:
print(type(data.loc[data['광역시도'] == '경기도','인구수':'면적']))
data.loc[data['광역시도'] == '경기도','인구수':'면적'].head(3)

<class 'pandas.core.frame.DataFrame'>

       인구수 shortName  x  y       면적
18   53497        가평  9  3  843.040
19  955384        고양  4  2  267.330
20   63227        과천  7  7   35.813

In [41]:
print(type(data.loc[data['광역시도'] == '경기도','인구수']))
print('경기도 인구 평균 : ', data.loc[data['광역시도'] == '경기도','인구수'].mean())
print('경기도 인구 표준편차 : ', data.loc[data['광역시도'] == '경기도','인구수'].std())

<class 'pandas.core.series.Series'>
경기도 인구 평균 :  378845.48387096776
경기도 인구 표준편차 :  304548.39514203876

### Data Selection
* 행과 열을 선택하기 (loc, iloc 사용하기)
* slicing(구간), 여러개 선택, 조건식

In [45]:
# 모든 행과 인구수, 행정구역 컬럼 선택
data.loc[:,['인구수','행정구역']]

        인구수 행정구역
0    202520  강릉시
1     25589  고성군
2     86747  동해시
3     63986  삼척시
4     76733  속초시
..      ...  ...
224  127462  제천시
225   34480  증평군
226   62809  진천군
227  790216  청주시
228  198077  충주시

[229 rows x 2 columns]

In [62]:
data.loc[0:10:2,'인구수':'행정구역']

       인구수 shortName   x  y       면적 광역시도 행정구역
0   202520        강릉  11  4  1040.07  강원도  강릉시
2    86747        동해  11  5   180.01  강원도  동해시
4    76733        속초   9  1   105.25  강원도  속초시
6    24551        양양  10  2   628.68  강원도  양양군
8   313851        원주  10  7   867.30  강원도  원주시
10   34242        정선  11  6  1220.67  강원도  정선군

In [57]:
data.iloc[0:2,0:3]

   Unnamed: 0     인구수 shortName
0           0  202520        강릉
1           1   25589    고성(강원)

In [63]:
data.loc[[0,1,3],['인구수','행정구역']]

      인구수 행정구역
0  202520  강릉시
1   25589  고성군
3   63986  삼척시

In [70]:
# 서울특별시 인 행을 선택
data.loc[data['광역시도'] == '서울특별시'].sort_values(by='인구수',ascending=False)\
.reset_index(drop=True)

    Unnamed: 0     인구수 shortName  x  y     면적   광역시도  행정구역
0          141  615487      서울송파  8  6  33.90  서울특별시   송파구
1          127  554709      서울강서  4  4  41.40  서울특별시   강서구
2          132  547202      서울노원  6  1  35.44  서울특별시   노원구
3          124  526157      서울강남  6  7  39.50  서울특별시   강남구
4          128  484478      서울관악  5  6  29.60  서울특별시   관악구
5          145  464236      서울은평  4  3  29.70  서울특별시   은평구
6          142  453634      서울양천  4  5  17.40  서울특별시   양천구
7          140  434061      서울성북  6  2  24.57  서울특별시   성북구
8          125  432028      서울강동  8  5  24.60  서울특별시   강동구
9          138  407416      서울서초  6  6  47.04  서울특별시   서초구
10         130  401233      서울구로  4  7  20.11  서울특별시   구로구
11         148  391655      서울중랑  8  4  18.50  서울특별시   중랑구
12         135  383917      서울동작  5  5  16.36  서울특별시   동작구
13         136  364232      서울마포  5  4  23.87  서울특별시   마포구
14         143  351837     서울영등포  4  6  24.56  서울특별시  영등포구
15         129  342909      서울광진  7  6  17.05  서울특별시   광진구
16         134  342429     서울동대문  7  4  14.20  서울특별시  동대문구
17         133  331682      서울도봉  5  1  20.80  서울특별시   도봉구
18         126  310292      서울강북  5  2  23.60  서울특별시   강북구
19         137  288543     서울서대문  5  3  17.60  서울특별시  서대문구
20         139  279939      서울성동  7  5  16.85  서울특별시   성동구
21         131  222566      서울금천  5  7  13.01  서울특별시   금천구
22         144  208603      서울용산  6  5  21.87  서울특별시   용산구
23         146  140595      서울종로  6  3  23.90  서울특별시   종로구
24         147  114967      서울중구  6  4   9.96  서울특별시    중구

In [73]:
# 경상북도의 행정구역,인구수,면적 을 선택하기 (인구수 많은 순서대로 정렬, 인덱스 초기화)
data.loc[data['광역시도'] == '경상북도',['행정구역','인구수','면적']]\
.sort_values(by='인구수',ascending=False).reset_index(drop=True)

   행정구역     인구수       면적
0   포항시  488395  1127.00
1   구미시  396685   616.10
2   경산시  251220   411.58
3   경주시  242618  1323.85
4   안동시  157317  1519.00
5   김천시  127941  1009.56
6   칠곡군  112446   451.00
7   영주시  101612   668.45
8   상주시   93305  1254.82
9   영천시   91214   919.76
10  문경시   67919   912.00
11  의성군   48776  1175.89
12  울진군   46748   989.06
13  예천군   40779   660.70
14  청도군   38571   696.52
15  성주군   38277   616.28
16  영덕군   34864   741.05
17  고령군   31189   383.70
18  봉화군   30287  1201.00
19  청송군   23804   842.45
20  군위군   20596   614.15
21  영양군   16009   815.11
22  울릉군    8392    72.82

In [75]:
#컬럼명 변경
data = data.rename(columns={'Unnamed: 0':'seq'})

In [77]:
#seq 컬럼을 index로 변경하기
data = data.set_index('seq')

In [79]:
data.head(3)

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군
2     86747        동해  11  5   180.01  강원도  동해시

### 상관계수
* 인구수와 면적 어느 정도의 상관성이 있는지 보기 위해서 상관계수를 구하기
* 상관계수 값은 -1 ~ 1 사이의 값
* 0에 가까우면 서로 관련성이 없고, 1에 가까울 수록 서로 연관성이 있다.
* corr() 함수 사용

In [81]:
# 전체 행정구역의 인구수와 면적간의 상관계수
data['인구수'].corr(data['면적'])

-0.3460351605045768

In [86]:
def get_corr_value(sido_name):
    sido_df = data.loc[data['광역시도'] == sido_name]
    return sido_df['인구수'].corr(sido_df['면적'])

In [88]:
get_corr_value('서울특별시')

0.6644268188909777

### Group By 기능 사용하기
* Series 객체의 groupby() : ~별에 해당하는 컬럼의 값을 전달한다
* DataFrame 객체의 groupby() : ~별 해당하는 컬럼명을 전달한다.

In [90]:
# 광역시도별 인구수의 합계 Series 객체의 groupby()
# SeriesGroupBy object
data['인구수'].groupby(data['광역시도']).sum()

광역시도
강원도         1429438
경기도        11744210
경상남도        3144487
경상북도        2508964
광주광역시       1438209
대구광역시       2378450
대전광역시       1467677
부산광역시       3323591
서울특별시       9394807
세종특별자치시      191233
울산광역시       1105585
인천광역시       2766575
전라남도        1700563
전라북도        1739048
제주특별자치도      575873
충청남도        1946129
충청북도        1484720
Name: 인구수, dtype: int64