In [4]:
!pip show pandas

Name: pandas
Version: 1.1.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: c:\users\vega2\anaconda3\lib\site-packages
Requires: python-dateutil, numpy, pytz
Required-by: statsmodels, seaborn

In [5]:
# code line 주석

'\n    code block 주석\n'

### 셀 실행하는 방법
* ctrl + enter : cell 실행
* shift + enter : cell 실행 + 커서를 아래 내려준다 (셀이 없으면 추가해준다)
* alt + enter : cell 실행 + 셀을 추가해 준다

1. **This is bold text**
2. *This text is italicized*
3. This site was built using [GitHub Pages](https://pages.github.com/)

### List Comprehension

In [10]:
squares = []
for i in range(10):
    squares.append(i * i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
my_list = [0,1,2]

In [12]:
#new_list = [expression for member in iterable]
squares2 = [i * i for i in range(10)]
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# sentence = 'the rocket came back from mars'
# for i in sentence:
#     print(i)

In [16]:
sentence = 'the rocket came back from mars'
vowels = [i for i in sentence if i in 'aeiou']
vowels

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [ ]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
prices = [i if i > 0 else 0 for i in original_prices]
prices